/* src/components/Navbar.css */

.Navbar {
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .Navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .Navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .Navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px; /* Add padding for spacing */
    transition: background-color 0.3s ease;
  }
  
  .Navbar-links a:hover {
    text-decoration: underline;
  }
  
  .Navbar-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
  }
  
  .Navbar-search input {
    border: none;
    padding: 8px;
    width: 200px;
    outline: none;
  }
  
  .Navbar-search button {
    background-color: #f90;
    border: none;
    color: #fff;
    padding: 8px;
  }
  